<div class="main-layout">
  <div class="header">
    <label class="oswald-light" [routerLink]="''"><i class="fa-solid fa-house"></i>HOME</label>
    <label class="oswald-light" [routerLink]="'/roadways'"><i class="fa-solid fa-bus"></i>ROADWAYS</label>
    <label class="oswald-light"><i class="fa-solid fa-train"></i>RAILWAYS</label>
    <label class="oswald-light"><i class="fa-solid fa-ferry"></i>WATERWAYS</label>
    <label class="oswald-light"><i class="fa-solid fa-train-subway"></i>METRO NETWORK</label>
  </div>
  <router-outlet></router-outlet>

</div>
