<div class="main-layout">
  <div class="layout-1">
    <div class="image-div">
      <img ngSrc="/assets/logos/images.png" [routerLink]="'best'" alt="not available" height="200"
           width="200">
    </div>
    <div class="image-div">'
      <img ngSrc="/assets/logos/TMCU.webp" alt="not available" height="200" width="200">
    </div>
    <div class="image-div">
      <img ngSrc="/assets/logos/FXBKkfCF_400x400.jpg" alt="not available" height="200" width="200">
    </div>
    <div class="image-div">
      <img ngSrc="/assets/logos/msrtc-st-mahamandal-logo-A444C34891-seeklogo.com.png" alt="not available" height="200"
           width="200">
    </div>
  </div>
  <div class="layout-2"></div>
  <div class="layout-3"></div>
  <div class="layout-4"></div>
</div>
